{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            Default Value
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'style_index.css' %}">
        {% tailwind_css %}
</head>
<body>
    {% comment %} This section will be fixed in all the pages {% endcomment %}
    <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/contact/">Contact</a>
    </nav>
{% comment %} This section will be replaced with the given content in the code {% endcomment %}

<h1 class="bg-yellow-400 text-3xl my-5">{% block header %}Default Header{% endblock %}</h1>

{% block content %}{% endblock %}





</body>
</html>