* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 2px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 15px;
    padding: 10px;
    transition: background-color 0.8s ease;
}

nav a:hover {
    border-radius: 5px;
    background-color: #00aaff;
}

nav a:active {
    background-color: #0077aa;
}

nav a:first-child {
    margin-left: 0;
}

nav a:last-child {
    margin-right: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

h1 {
    text-align: center;
    color: #004a72;
    margin-bottom: 30px;
}

h4 {
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 13px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
    color: #aaa;
}

#astrisk{
    color: red;
}
#terms_text{
    margin: 20px 5px 0px;
    text-align: center;
    color:dimgray;
    font-size: 15px
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background-color: #ffcc00;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.8s ease;
}

input[type="submit"]:hover {
    background-color: #ffbb00;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}