* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 2px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 15px;
    padding: 10px;
    transition: background-color 0.8s ease;
}

nav a:hover {
    border-radius: 5px;
    background-color: #00aaff;
}

nav a:active {
    background-color: #0077aa;
}

nav a:first-child {
    margin-left: 0;
}

nav a:last-child {
    margin-right: 0;
}


header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    font-style: italic;
    color: #ffcc00;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 5px;
}

p {
    font-size: 1.1em;
    color: #777;
}

.team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.team-member {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.team-member h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
}

footer p {
    font-size: 0.9em;
}
