* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 2px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 15px;
    padding: 10px;
    transition: background-color 0.8s ease;
}

nav a:hover {
    border-radius: 5px;
    background-color: #00aaff;
}

nav a:active {
    background-color: #0077aa;
}

nav a:first-child {
    margin-left: 0;
}

nav a:last-child {
    margin-right: 0;
}


h1 {
    font-size: 3em;
    color: #333;
    margin-top: 40px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

